In [4]:
import pandas as pd

In [1]:
from pandas import *

In [6]:
url="https://raw.githubusercontent.com/shreyeshpandey/Data-Science/shreyeshpandey-datasets/train.csv"
training_set=read_csv(url)
training_set.head()

   PassengerId  Survived  Pclass  ...     Fare Cabin  Embarked
0            1         0       3  ...   7.2500   NaN         S
1            2         1       1  ...  71.2833   C85         C
2            3         1       3  ...   7.9250   NaN         S
3            4         1       1  ...  53.1000  C123         S
4            5         0       3  ...   8.0500   NaN         S

[5 rows x 12 columns]

In [8]:
male=training_set[training_set.Sex=='male']
female=training_set[training_set.Sex=='female']

In [9]:
women_survival_rate=float(sum(female.Survived)/len(female))
men_survival_rate=float(sum(male.Survived)/len(male))

In [13]:
women_survival_rate*100,men_survival_rate*100

(74.20382165605095, 18.890814558058924)